@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply font-favorit text-5xl font-medium leading-6;
  }

  h2 {
    @apply font-favorit text-4xl font-medium leading-6;
  }

  h3 {
    @apply font-favorit text-3xl font-medium leading-5;
  }

  .book-info-sm {
    @apply font-favoritBook text-sm font-book leading-4;
  }

  .book-info-md {
    @apply font-favoritBook text-base font-book leading-4;
  }

  .book-intro-sm {
    @apply font-favoritBook font-book text-md leading-4;
  }

  .book-intro-md {
    @apply font-favoritBook font-book text-xl leading-4;
  }

  .book-intro-lg {
    @apply font-favoritBook font-book text-2xl leading-5;
  }

  .medium-info-sm {
    @apply font-favorit text-sm font-medium leading-4;
  }

  .medium-intro-sm {
    @apply font-favorit text-md font-medium leading-4;
  }

  .medium-intro-md {
    @apply font-favorit text-xl font-medium leading-4;
  }

  .medium-intro-lg {
    @apply font-favorit text-2xl font-medium leading-5;
  }

  .bold-intro-sm {
    @apply font-favorit text-md font-bold leading-4;
  }

  .bold-intro-md {
    @apply font-favorit text-xl font-bold leading-4;
  }

  .bold-intro-lg {
    @apply font-favorit text-5xl font-bold leading-5;
  }

  .global-margin {
    @apply max-w-screen-2xl;
    @apply mx-7;
    @apply md:mx-10;
    @apply xl:mx-20;
    @apply 2xl:mx-auto;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map {
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
}
